/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: black;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: black;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
  color: black;

}
.navbar-wrapper .navbar {
  
  padding-left: 15px;
  padding-right: 15px;
   background-color:   rgba(255, 255, 255, 0.9);
   border-color: green;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin ou4 the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
